html,
body,
ul,
div {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

@media (min-width: 800px) and (max-width: 1024px) {
  .container .popup {
    width: 60%; } }
@media (min-width: 480px) and (max-width: 799px) {
  .container .popup {
    font-size: 0.9em;
    width: 70%; } }
@media (min-width: 320px) and (max-width: 479px) {
  .container .popup {
    font-size: 0.9em;
    width: 90%; }
    .container .popup .selected-products .selected-product__content .fa:not(.button--remove--content) {
      top: -5px; }
    .container .popup .selected-products .selected-product__content .selected-product__text {
      padding-left: 2px; } }
.popup__button {
  text-align: center; }

.button--popup--close--small {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  position: absolute;
  right: 30px;
  text-decoration: none;
  top: 30px; }
  .button--popup--close--small:hover {
    color: gray;
    cursor: pointer; }

.popup__header {
  background-color: rgba(224, 224, 224, 0.7);
  padding: 10px 10px 0 20px; }
  .popup__header h2 {
    color: gray;
    font-weight: normal; }
  .popup__header .menu .menu__item {
    color: blue;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 5px; }
    .popup__header .menu .menu__item .menu__item__text:hover {
      color: black;
      cursor: pointer; }
    .popup__header .menu .menu__item .menu__item__badge:hover {
      cursor: pointer; }
  .popup__header .menu .menu__item--active {
    border-bottom: 2px solid gray;
    color: black; }

.product__item {
  border-bottom: 1px solid gray; }
  .product__item:first-of-type {
    border-top: 1px solid gray; }
  .product__item::last-of-type {
    border-bottom: 1px solid gray; }

.product__item--editable .product__item:last-of-type {
  border-bottom: 0; }

.products .product__item__content {
  display: block;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 5px; }
  .products .product__item__content:not(.product__item__content--selected):hover {
    background-color: rgba(224, 224, 224, 0.7);
    cursor: pointer; }
.products .product__item__content--selected {
  background-color: rgba(106, 204, 204, 0.7); }
.products .product__item .product__text {
  padding-left: 20px; }
.products .product__item--editable .product__text {
  padding-left: 0; }
.products .products__inner .product__text {
  padding-left: 50px; }
.products .product__text span {
  padding-left: 5px; }

.selected-products .selected-product__content {
  border-bottom: 1px solid gray;
  padding: 3px 10px; }
  .selected-products .selected-product__content:hover {
    background: rgba(224, 224, 224, 0.7); }
  .selected-products .selected-product__content:first-of-type {
    border-top: 1px solid gray; }
  .selected-products .selected-product__content .fa {
    position: relative;
    top: -10px; }
  .selected-products .selected-product__content .selected-product__text {
    display: inline-block;
    margin: 0;
    padding-left: 10px; }
    .selected-products .selected-product__content .selected-product__text .selected-product__title {
      display: block;
      float: left;
      width: 100%; }
    .selected-products .selected-product__content .selected-product__text .selected-product__description {
      color: gray;
      display: block; }
  .selected-products .selected-product__content .button--remove--content {
    float: right;
    position: relative;
    top: 12.5px; }
    .selected-products .selected-product__content .button--remove--content:hover {
      color: gray; }

.popup__content {
  padding: 0 20px; }
  .popup__content .popup__main {
    margin-top: 35px;
    min-height: 300px;
    max-height: 430px;
    overflow: auto;
    width: 100%; }

.popup__search {
  padding: 20px 20px 5px;
  position: relative; }
  .popup__search .popup__search__bar {
    border: 1px solid gray;
    color: gray;
    float: left;
    font-size: 1.1em;
    height: 30px;
    padding-left: 35px;
    width: 100%; }
  .popup__search .icon {
    color: #4f5b66;
    margin-left: 17px;
    margin-top: 17px;
    position: absolute;
    left: 15px;
    top: 9px;
    z-index: 1; }

.search--focused .icon {
  color: blue; }

.popup__footer {
  padding: 20px; }

.popup__window {
  background: #dbd9d9;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.popup {
  background: white;
  margin: 70px auto;
  position: relative;
  width: 50%; }

body {
  font-family: "Open Sans Regular", "Open Sans", serif;
  font-size: 13px;
  padding: 5px; }
  body .main-content {
    text-align: center; }
    body .main-content .loading {
      font-size: 50px; }

.container {
  margin: 10px; }

.hidden {
  display: none; }

.menu__item__badge {
  display: inline-block; }

.button {
  border: 0;
  border-radius: 3px;
  font-size: 1.2em;
  height: 35px;
  padding: 0 15px; }

.button--state--default {
  background: none;
  border: 1px solid lightgray; }
  .button--state--default:hover {
    background: #bebebe;
    cursor: pointer; }

.button--state--success {
  background: #38ab63;
  color: white; }
  .button--state--success:hover {
    background: #357f4a;
    cursor: pointer; }

.fa {
  border-radius: 100%;
  text-align: center; }

.fa-caret-down {
  margin-left: 3.5px;
  margin-right: 3.5px; }

.fa-caret-right {
  margin-left: 5px;
  margin-right: 5px; }

.fa-caret-down,
.fa-caret-right {
  font-size: 1.3em; }

.circle-icon {
  background: black;
  border-radius: 25px;
  color: white;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px; }

.circle-icon--blue {
  background: blue; }

.circle-icon--green {
  background: #57c678; }

.circle-icon--gray {
  background: gray; }

/*# sourceMappingURL=main.css.map */
