@import 'reset';
@import 'variables';
@import 'media-queries';
@import 'popup/popup';

body {
  font-family: $font-family, serif;
  font-size: $font-size;
  padding: 5px;
  .main-content {
    text-align: center;
  }
}

.loading {
  font-size: 50px;
  text-align: center;
}

.container {
  margin: 10px;
}

.hidden {
  display: none;
}

.menu__item__badge {
  display: inline-block;
}

.button {
  border: 0;
  border-radius: 3px;
  font-size: 1.2em;
  height: 35px;
  padding: 0 15px;
}

.button--state--default {
  background: $button-default-color;
  border: 1px solid lightgray;

  &:hover {
    background: $button-default-color-hoverd;
    cursor: pointer;
  }
}

.button--state--success {
  background: $button-success-color;
  color: white;

  &:hover {
    background: $button-success-color-hoverd;
    cursor: pointer;
  }
}

.fa {
  border-radius: 100%;
  text-align: center;
}

.fa-caret-down {
  margin-left: 3.5px;
  margin-right: 3.5px;
}

.fa-caret-right {
  margin-left: 5px;
  margin-right: 5px;
}

.fa-caret-down,
.fa-caret-right {
  font-size: 1.3em;
}

.circle-icon {
  background: black;
  border-radius: 25px;
  color: white;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
}

.circle-icon--blue {
  background: blue;
}

.circle-icon--green {
  background: $circle-green-color;
}

.circle-icon--gray {
  background: gray;
}
