.popup__button {
  text-align: center;
}

.button--popup--close--small {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  position: absolute;
  right: 30px;
  text-decoration: none;
  top: 30px;

  &:hover {
    color: gray;
    cursor: pointer;
  }
}
