@import 'popup-products';
@import 'popup-selected-products';

.popup__content {
  padding: 5px 0 0 20px;
  .popup__main {
    margin-top: 35px;
    min-height: 300px;
    max-height: 430px;
    overflow: auto;
    width: 100%;
  }
}
