.popup__header {
  background-color: $popup-header-background-color;
  padding: 10px 10px 0 20px;

  h2 {
    color: gray;
    font-weight: normal;
  }

  .menu {
    .menu__item {
      color: blue;
      display: inline-block;
      margin-right: 15px;
      padding-bottom: 5px;

      .menu__item__text {
        &:hover {
          color: black;
          cursor: pointer;
        }
      }

      .menu__item__badge {
        &:hover {
          cursor: pointer;
        }
      }
    }
    
    .menu__item--active {
      border-bottom: 2px solid gray;
      color: black;
    }
  }
}
