@import 'variables';
@import 'components/popup-button';
@import 'components/popup-header';
@import 'components/popup-main';
@import 'components/popup-search';
@import 'components/popup-footer';

.popup {
  background: $blured-background-color;
  left: 0;
  position: absolute;;
  right: 0;
  top: 0;
}

.popup__window {
  background: white;
  margin: 70px auto;
  position: relative;
  width: 50%;
}
