.popup__button {
  text-align: center;
}

.button__popup--close--small {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  position: absolute;
  right: 15px;
  text-decoration: none;
  top: 15px;

  &:hover {
    color: gray;
    cursor: pointer;
  }
}

.button__popup--clear {
  color: gray;
  font-size: 1.2em;
  margin-left: 0;
  margin-top: 17px;
  position: absolute;
  right: 30px;
  top: 9px;
  z-index: 1;

  &:hover {
    color: black;
  }
}
