$font-size: 13px;
$font-family: 'Open Sans Regular', 'Open Sans';
$product-item-content-selected-background-color: rgba(106, 204, 204, .7);
$product-item-content-color-hovered: rgba(224, 224, 224, .7);
$popup-header-background-color: rgba(224, 224, 224, .7);
$blured-background-color: rgb(219, 217, 217);
$button-success-color: rgb(56, 171, 99);
$button-success-color-hoverd: rgb(53, 127, 74);
$button-default-color: none;
$button-default-color-hoverd: rgb(190, 190, 190);
$circle-green-color: rgb(56, 171, 99);
