<div class="all-pages hidden">
  <div class="products">
    <div class="product__item">
      <label class="product__item__content">
          <input type="checkbox" name="checkbox" class="popup__checkbox">
          <span class="product__text">
            <i class="fa fa-check circle-icon circle-icon--green"></i>
            <span>Africa</span>
          </span>
      </label>
    </div>
    <div class="product__item">
      <label class="product__item__content">
          <input type="checkbox" name="checkbox" class="popup__checkbox">
          <span class="product__text">
            <i class="fa fa-check circle-icon circle-icon--green"></i>
            <span>Antarctica</span>
          </span>
      </label>
    </div>
    <div class="product__item">
      <label class="product__item__content">
          <input type="checkbox" name="checkbox" class="popup__checkbox">
          <span class="product__text">
            <i class="fa fa-check circle-icon circle-icon--green"></i>
            <span>Asia</span>
          </span>
      </label>
    </div>
    <div class="product__item">
      <label class="product__item__content">
          <input type="checkbox" name="checkbox" class="popup__checkbox">
          <span class="product__text">
            <i class="fa fa-check circle-icon circle-icon--green"></i>
            <span>Australia</span>
          </span>
      </label>
    </div>
    <div class="product__item product__item--editable">
      <label class="product__item__content">
          <input type="checkbox" name="checkbox" class="popup__checkbox">
          <span class="product__text">
            <i class="fa fa-caret-right"></i>
            <i class="fa fa-check circle-icon circle-icon--green"></i>
            <span>Europe</span>
          </span>
      </label>
    </div>
    <div class="product__item product__item--editable">
      <label class="product__item__content">
          <input type="checkbox" name="checkbox" class="popup__checkbox">
          <span class="product__text">
            <i class="fa fa-caret-down"></i>
            <i class="fa fa-pencil  circle-icon"></i>
            <span>North America</span>
          </span>
      </label>
      <div class="products__inner">
        <div class="product__item">
          <label class="product__item__content">
              <input type="checkbox" name="checkbox" class="popup__checkbox">
              <span class="product__text">
                <i class="fa fa-check circle-icon circle-icon--green"></i>
                <span>Canada</span>
              </span>
          </label>
        </div>
        <div class="product__item">
          <label class="product__item__content">
              <input type="checkbox" name="checkbox" class="popup__checkbox">
              <span class="product__text">
                <i class="fa fa-clock-o circle-icon circle-icon--blue"></i>
                <span>Costa Rica</span>
              </span>
          </label>
        </div>
        <div class="product__item">
          <label class="product__item__content">
              <input type="checkbox" name="checkbox" class="popup__checkbox">
              <span class="product__text">
                <i class="fa fa-times  circle-icon circle-icon--gray"></i>
                <span>Guatemala</span>
              </span>
          </label>
        </div>
        <div class="product__item">
          <label class="product__item__content">
              <input type="checkbox" name="checkbox" class="popup__checkbox">
              <span class="product__text">
                <i class="fa fa-pencil  circle-icon"></i>
                <span>El Salvador</span>
              </span>
          </label>
        </div>
        <div class="product__item">
          <label class="product__item__content">
              <input type="checkbox" name="checkbox" class="popup__checkbox">
              <span class="product__text">
                <i class="fa fa-check circle-icon circle-icon--green"></i>
                <span>Mexico</span>
              </span>
          </label>
        </div>
        <div class="product__item">
          <label class="product__item__content">
              <input type="checkbox" name="checkbox" class="popup__checkbox">
              <span class="product__text">
                <i class="fa fa-check circle-icon circle-icon--green"></i>
                <span>USA</span>
              </span>
          </label>
        </div>
      </div>
    </div>
    <div class="product__item">
      <label class="product__item__content">
          <input type="checkbox" name="checkbox" class="popup__checkbox">
          <span class="product__text">
            <i class="fa fa-check circle-icon circle-icon--green"></i>
            <span>South America</span>
          </span>
      </label>
    </div>
  </div>
</div>
