<div class="popup__button">
  <button id="button-popup-open" type="button" name="popup-open-button" class="button button--state--success">Select pages</button>
</div>
<div id="popup" class="popup hidden">
  <div class="popup__window">
    <div class="popup__header">
      <h2>Select pages</h2>
      <ul class="menu">
        <li id="all-pages" class="menu__item menu__item--active">
          <span class="menu__item__text">All pages</span>
        </li>
        <li id="selected-pages" class="menu__item">
          <span class="menu__item__text">Selected</span>
          <span class="menu__item__badge circle-icon circle-icon--green">3</span>
        </li>
      </ul>
      <i class="fa fa-times button-popup-close button__popup--close--small"></i>
    </div>
    <div class="popup__search">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input id="popup-search-bar" class="popup__search__bar" type="search" name="search" placeholder="Narrow by typing...">
      <span id="popup-button-clear" class="button__popup--clear hidden"><i class="fa fa-times"></i></span>
    </div>
    <div class="popup__content">
      <div id="popup-main" class="popup__main">
        <div class="loading">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
      </div>
    </div>
    <div class="popup__footer">
      <button class="button button--state--success button-popup-close" type="button" name="button">Use selected</button>
      <button class="button button--state--default button-popup-close" type="button" name="button">Cancel</button>
    </div>
  </div>
