<div id="selected-pages" class="selected-pages hidden">
  <div class="selected-products">
    <div class="selected-product__content">
      <i class="fa fa-times button__popup--remove--content"></i>
      <i class="fa fa-pencil circle-icon"></i>
      <p class="selected-product__text">
        <span class="selected-product__title">Antarctica</span>
        <span class="selected-product__description">On top level</span>
      </p>
    </div>
    <div class="selected-product__content">
      <i class="fa fa-times button__popup--remove--content"></i>
      <i class="fa fa-check circle-icon circle-icon--green"></i>
      <p class="selected-product__text">
        <span class="selected-product__title">Canada</span>
        <span class="selected-product__description">Under North America</span>
      </p>
    </div>
    <div class="selected-product__content">
      <i class="fa fa-times button__popup--remove--content"></i>
      <i class="fa fa-check circle-icon circle-icon--green"></i>
      <p class="selected-product__text">
        <span class="selected-product__title">Calgary</span>
        <span class="selected-product__description">Under North America > Canada</span>
      </p>
    </div>
  </div>
</div>
